<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globant.myleague" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TournamentListActivity"
            android:label="@string/label_news" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpTeamActivity"
            android:label="@string/title_activity_create_tournament" >

        </activity>
        <activity
            android:name=".TeamsListActivity"
            android:label="@string/title_activity_create_tournament" >
        </activity>
        <activity
            android:name=".MatchResultActivity"
            android:label="@string/title_activity_match_result" >

        </activity>
        <activity
            android:name=".PrincipalNewsActivity"
            android:label="@string/label_news">

        </activity>
        <activity
            android:name=".SettingsPrincipalActivity"
            android:label="@string/title_principal_activity_settings"
            android:parentActivityName=".PrincipalNewsActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalNewsActivity" />
        </activity>
        <activity
            android:name=".MatchesListActivity"
            android:label="@string/title_activity_match_list" >
        </activity>
        <activity
            android:name=".CreateTournamentActivity"
            android:label="@string/title_activity_create_team" >
        </activity>
        <activity
            android:name=".CreateTeamActivity"
            android:label="@string/title_activity_tournament_list" >
            </activity>
        <activity android:name=".MatchesFillActivity"/>
        <activity android:name=".AddMyTeamToTournamentActivity"/>
        <activity android:name=".SelectTournamentToMatchActivity"/>
        <activity android:name=".SelectTournamentToSignUpActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>
